.app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://getwallpapers.com/wallpaper/full/a/5/9/129555.jpg");
    font-family: "Poppins", sans-serif;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}